/**
TDB
*/
/* ========================================================================== */


body{
    background-image: url(../img/default.jpg);
    padding-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;

}

#users .loggedin{
    color:#FFF;
}

#users{
    color:#cccccc;
}

.row div{
    background-color:rgba(0,0,0,0.2);
    color:#FFF;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.row div a{
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
}


.col-md-8 div{
    padding:1.5em;
    background: none;
} 

.col-md-4 div{
    background: none;
    padding:0.5em;
} 


#reChat {

    width: 95%;
    height: 10em;
    overflow-y: scroll;
    overflow: auto;
    clear: both;
    color:#000;
    background-color:#FFF;
    margin-left: 2.50%;
    padding: 0px 0 10px;
    margin-bottom: 15px;
}
